<!DOCTYPE html>
<head>
            <title>weather
            </title>
                <link rel="icon" href="/img/weather.png">
            <link rel="stylesheet" href="./css/styles.css">
            </head>
            <body>
    <p>{{name}}</p>
            </body>

        <div class="main-content">
            {{>header}}
               <form>
            <input placeholder="location"/>
            <button>submit</button>
        </form>
            <p>
                Use this site to ger your weather!
            </p>
              <p id="message-1"></p>
            <p id="message-2"></p>
          
            <script src="/js/app.js"></script>
        
        </div>
     
    </body>
    <footer>{{>footer}}</footer>

</h1>